body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


h1 {
    text-align: left;
    margin-top: 30%;
    padding-left: 10%;
    font-size: 2.2vw;
    font-weight: lighter;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.project-card {
    width: 100%;
    aspect-ratio: 1 / 1; /* 정사각형 비율 유지 */
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.project-card:hover {
    transform: scale(1.05);
}

.project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* 모바일 화면에서 한 줄에 하나씩 표시 */
@media (max-width: 768px) {
    .project-grid {
        grid-template-columns: 1fr;
    }
    
    h1 {
        margin-top: 80%;
        font-size: 2rem; 
    }
}

