body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


/* 사이드바 스타일 */
.sidebar {
    width: 25%;
    padding: 20px;
    background-color: transparent;
    box-shadow: none;
    border-radius: 10px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin: 10px 0;
    cursor: pointer;
    font-size: 23px;
    line-height: 1.5;
    color: #333;
    transition: color 0.3s;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
}

.sidebar li:hover {
    color: #007aff;
}

.center-text {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #333;
    line-height: 1.5;
    z-index: 1; 
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
}

.dark-mode .center-text {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #ffffff;
    z-index: 1; 
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

/* 비디오 미리보기 스타일 */
.video-preview {
    width: 360px;
    height: 780px;
    background-color: #000;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    border-radius: 42px;
    z-index: 2;
}

.video-preview video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.close-button {
    display: none; 
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    z-index: 3;
}

.mobile-project-list {
    display: none; 
}

@media (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .mobile-project-list {
        display: block;
        padding: 20px;
    }

    .mobile-project-list ul {
        list-style: none;
        padding: 0;
    }

    .mobile-project-list li {
        margin: 10px 0;
        cursor: pointer;
        font-size: 1.7rem;
        line-height: 1.5;
        color: #555;
        transition: color 0.3s;
        font-family: 'Poppins', sans-serif;
    }

    .mobile-project-list li:hover {
        color: #007aff;
    }

    .close-button {
        display: block;
    }

    #centerText {
        display: none;
    }

    .video-preview {
        width: 90vh;              /* 너비를 화면의 90%로 설정 */
        max-width: 400px;        /* 최대 너비 제한 */
        height: 90vh;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /* 완벽한 중앙 정렬 */
        background-color: #000;
        display: none;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
        border-radius: 20px;
        z-index: 2;
    }

    .video-preview video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
    }
}