/* 기본 스타일 설정 */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-snap-type: y mandatory; /* 세로 방향 스크롤 스냅 */
    height: 100vh;
    transition: background-color 0.3s, color 0.3s;
}

.container {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 60px auto 100px;
    padding: 20px;
    gap: 20px;
}

/* 상단 메뉴 스타일 */
.top-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 10;
    transition: background-color 0.3s, color 0.3s;
}

.top-menu a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    padding: 10px 15px;
    transition: color 0.3s;
}

.top-menu a:hover {
    color: #007aff;
}



/* 다크모드 스타일 */
.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode .top-menu {
    background-color: #1f1f1f;
    color: #ffffff;
}

.dark-mode a {
    color: #ffffff;
}

#darkModeToggle {
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s;
}

#darkModeToggle:hover {
    color: #007aff;
}

.dark-mode #darkModeToggle {
    color: #ffffff;
}

.dark-mode .sidebar li {
    color: #ffffff;
}

/* 반응형 스타일 */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        width: 100%;
        margin: 20px auto;
        padding: 10px;
    }

    .main-content {
        width: 100%;
        padding: 10px;
        box-shadow: none;
    }

    .video-preview {
        width: 90%;
        height: auto;
    }
}
